#全局生效
objs/*
*.o
*.orig
*.depend
*.layout
*.bc
*.lst
*.ini
!isd_config_nor_ota.ini
!ota.bin
!nor_ota.bin
!nor_ota_debug.bin
*.zip
*.resolution.*

app.bin
symbol_tbl.txt
jl_isd.bin
md5.bin
new_res.bin
res.bin
sdk_used_list.used


# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf
*.TAB
*.PIX


# Linker output
*.ilk
*.map
*.exp

#客户发布文件
release/

#各系列忽略文件

#696音箱

#701watch
cpu/br28/tools/jl_isd.bin
cpu/br28/tools/json.txt
cpu/br28/tools/sdk.elf
cpu/br28/tools/download/watch/res.ori
cpu/br28/tools/download/watch/ui_upgrade
cpu/br28/tools/download/watch/app.bin
cpu/br28/tools/download/watch/isd_config.ini
cpu/br28/tools/download/watch/json.txt
cpu/br28/tools/download/watch/md5.bin
cpu/br28/tools/download/watch/new_res.bin
cpu/br28/tools/download/watch/res.bin
cpu/br28/tools/download/watch/script.ver
cpu/br28/tools/download/watch/tone.cfg
cpu/br28/tools/download/watch/update.ufw
cpu/br28/tools/download/watch/upgrade.zip
cpu/br28/tools/app.bin
cpu/br28/tools/isd_config.ini
cpu/br28/tools/sdk.elf
cpu/br28/tools/sdk.elf.0.0.preopt.bc
cpu/br28/tools/sdk.elf.0.2.internalize.bc
cpu/br28/tools/sdk.elf.0.4.opt.bc
cpu/br28/tools/sdk.elf.0.5.precodegen.bc
cpu/br28/tools/sdk.elf.o
cpu/br28/tools/sdk.elf.objs.txt
cpu/br28/tools/sdk.elf.resolution.txt
cpu/br28/tools/sdk.map
cpu/br28/tools/sdk.lst
cpu/br28/tools/symbol_tbl.txt
cpu/br28/tools/usrmaketimer.txt
sdk/cpu/br28/tools/download/watch/new_re2.bin
sdk/cpu/br28/tools/usrmaketimer.txt
sdk/cpu/br28/tools/download/watch/res2.bin
.vscode/settings.json
cpu/br36/tools/data_code.bin
